@import '../../styles/variables';

.action-button {
  background-color: $red;
  color: $white;
  display: inline-block;
  border: 0;
  border-radius: $border-radius;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;

  &.regular {
    padding: 9px 15px 8px;
  }

  &.large {
    padding: 12px 17px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $red-hover;
    color: $white;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color .2s ease-in;
  }

  &:disabled {
    background-color: $red-disabled;
    border: 1px solid $red-disabled;
    cursor: not-allowed;
  }
}

@media(min-width: 768px) {
  &.large {
    padding: 15px 20px;
  }
}
