@import '../../styles/variables';

.secondary-button {
  background-color: $white;
  color: $black80;
  display: inline-block;
  border: 0;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    color: $black;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color .2s ease-in;
  }

  &:disabled {
    cursor: default;
  }
}

@media(min-width: 768px) {
  &.large {
    padding: 15px 20px;
  }
}
