@import '../../styles/variables';

.free-ideas-list-item {
  display: inline-block;
  margin-top: 50px;
  width: 100%;

  &:first-of-type {
    margin-top: 0;
  }

  .image-link {
    display: inline-block;
    height: 300px;
    width: 100%;
  }

  .image {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .item-body {
    background-color: #F7F7F7;
    border: 1px solid #EEEEEE;
    border-bottom-right-radius: 0;
    border-top: none;
    border-top-right-radius: 0;
    box-sizing: border-box;
    float: left;
    height: 300px;
    margin-top: -4px;
    position: relative;
    width: 100%;
  }

  .idea-title {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    width: 98%;
  }

  .description {
    display: inline-block;
    font-size: 18px;
    margin-left: 2.5%;
    margin-top: 20px;
    text-align: center;
    width: 92%;
  }

  .button-row {
    margin-top: 20px;
    vertical-align: middle;
  }

  .retail-price {
    color: #545454;
    font-size: 24px;
    margin: 0 15px;
    vertical-align: middle;
  }

  .wishlist {
    bottom: 15px;
    display: inline-block;
    left: 20px;
    position: absolute;
  }

  .heart-position {
    color: #FF7175;
    font-size: 24px;
    margin-right: 10px;
  }

  .save {
    font-size: 18px;
    vertical-align: middle;
  }

  .location {
    bottom: 15px;
    font-size: 20px;
    position: absolute;
    right: 20px;
  }
}

@media(min-width: 768px) {
  .free-ideas-list-item {
    display: inline-block;
    width: 85%;

    .image-link {
      display: inline-block;
      float: left;
      width: 45%;
    }

    .image {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
      height: 100%;
      width: 100%;
    }

    .item-body {
      border: 1px solid #EEEEEE;
      border-bottom-right-radius: $border-radius;
      border-left: none;
      border-top-right-radius: $border-radius;
      margin-top: 0;
      width: 55%;

      .description {
        text-align: left;
      }

      .button-row {
        margin-top: 40px;
        vertical-align: middle;
      }
    }
  }
}
