@import '../../styles/variables';

.free-ideas-detail {
  display: inline-block;
  padding-bottom: 100px;
  text-align: center;
  width: 100%;

  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
    text-align: left;
    width: 100%;

    .contain-image {
      position: relative;

      .image {
        display: inline-block;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      .wishlist {
        color: #FF7175;
        cursor: pointer;
        font-size: 25px;
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }



    .tags {
      padding: 0 10px;

      .tag {
        display: inline-block;
        font-size: 14px;
        margin-right: 10px;

        &:last-of-type {
          margin-right: 0;
        }

        .icon {
          color: $red;
          margin-right: 3px;
        }
      }
    }

    .title {
      font-size: 18px;
      margin-top: 15px;
      padding: 0 10px;
    }

    .business-name {
      font-size: 12px;
      margin-top: 5px;
      padding: 0 10px;
    }

    .description {
      font-size: 15px;
      margin-top: 15px;
      padding: 0 10px;
    }

    .locations {
      font-size: 18px;
      margin-top: 30px;
      padding: 0 10px;
    }

    .footer {
      align-items: center;
      background-color: $black90;
      bottom: 0;
      color: $white;
      display: flex;
      height: 64px;
      justify-content: center;
      left: 0;
      position: fixed;
      right: 0;
      width: 100%;

      .retail-price {
        text-align: center;
        width: 50%;
      }

      .footer-button {
        text-align: left;
        width: 50%;
      }
    }
  }
}

@media(min-width: 768px) {
  .free-ideas-detail {
    padding: 30px 0 100px;

    .mobile {
      display: none;
    }

    .desktop {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;

      .left-col {
        display: inline-block;
        text-align: center;
        width: 60%;

        .contents {
          display: inline-block;
          text-align: left;

          .contain-image {
            position: relative;

            .image {
              max-width: 600px;
              width: 100%;
            }

            .wishlist {
              color: #FF7175;
              cursor: pointer;
              font-size: 30px;
              position: absolute;
              right: 20px;
              top: 10px;
            }
          }

          .tags {
            margin-top: 7px;

            .tag {
              display: inline-block;
              font-size: 15px;
              margin-right: 15px;

              &:last-of-type {
                margin-right: 0;
              }

              .icon {
                color: $red;
                font-size: 20px;
                margin-right: 3px;
              }
            }
          }

          .description {
            margin-top: 30px;

            .title {
              font-size: 22px;
            }

            .contents {
              margin-top: 10px;
              max-width: 600px;
            }
          }
        }
      }

      .right-col {
        display: inline-block;
        padding-left: 50px;
        text-align: left;
        vertical-align: top;
        width: 40%;

        .title {
          font-size: 30px;
        }

        .business-name {
          color: $black50;
          font-size: 20px;
          margin-top: 5px;
        }

        .pricing {
          align-items: center;
          display: flex;
          font-weight: bold;
          margin-top: 30px;

          .retail {
            color: $black50;
            margin-right: 15px;
            text-decoration: line-through;
          }

          .ours {
            font-size: 36px;
          }
        }

        .contain-button {
          margin-top: 30px;
        }

        .fine-print {
          margin-top: 50px;

          .title {
            font-size: 22px;
          }

          .contents {
            font-size: 16px;
            margin-top: 10px;
          }
        }

        .locations {
          margin-top: 50px;

          .title {
            font-size: 22px;
          }
        }
      }
    }
  }
}
