@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  height: 100%;
  width: 100%;
}

body {
  color: $black80;
  font-family: 'Roboto';
  margin: 0;

  .app {
    display: inline-block;
    text-align: center;
    width: 100%;

    a {
      color: $black70;
      cursor: pointer;
      text-decoration: none;
      transition: color 500ms;

      &:visited {
        color: $black70;
      }

      &:hover {
        color: $black90;
      }
    }

    div {
      box-sizing: border-box;
    }

    .app-contents {
      display: inline-block;
      max-width: $max-width;
      width: 100%;
    }
  }
}

@media(min-width: 768px) {
  body {
    .app {
      .app-contents {
        padding: 0 15px;
      }
    }
  }
}
